*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #f7edff;
}
#boxes{
    display: flex;
    gap: 20px;
    /* background-color: aqua; */
    margin-left: 3rem;
    margin-top: 4rem;

}
.card{
    cursor: pointer;
    color: white;
    width: 7rem;
    height: 25px;
  
    background:#333 ;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#toastBox{
    gap: 15px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;

    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* overflow: hidden; */
    padding: 20px;
    /* background-color: aqua; */


}
/* #toastBox{
    position: absolute;
    width: 20rem;
    /* height: 4.3rem; */
    /* height: 33rem;
    background-color: aqua;
    right: 2rem;
    bottom: 2rem; */
    
/* } */ 
.toast{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 20rem;
    height: 4.3rem;
    background: #fff;
    box-shadow: 0 0 20px rgb(0, 0, 0.3);
}
#t1{
    padding-left: 5px;
    /* margin-left: 5px; */
    gap: 10px;
    justify-content: start;
}